/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body{
    background-color: #ecf3f5;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.nav, .card{
	border: 1px solid #eee;
}

.toast-center{
    float:none;
    box-shadow:none;
    border-radius: 0px;
}

.event-detail-head{
	height:70vh;
	background:-webkit-linear-gradient(top, rgba(0,0,0,0.6), rgba(0,0,0,0.2));
    background-size: cover;
    background-attachment: scroll;

}
#index-banner{
        height: 70vh;
    background-image: -webkit-radial-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.7)),url('/eventapp/assets/images/banner.jpg ');
    background-image: -moz-radial-gradient( rgba(0,0,0,0.4), rgba(0,0,0,0.7)),url('/eventapp/assets/images/banner.jpg ');
    background-image: radial-gradient( rgba(0,0,0,0.4), rgba(0,0,0,0.7)),url('/eventapp/assets/images/banner.jpg ');
    background-image: -o-radial-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.7)),url('/eventapp/assets/images/banner.jpg ');
    background-size: cover;
}

.ticket_status{
	position:absolute;
	top:10px; 
	left: 10px;
	z-index: 1;
}

#account_settings_dropdown li{
    margin-top: 5px;
}


.collection .collection-item.avatar {
    margin-bottom: 10px;
}


.form-container {
    background: white;
    border: 1px solid #eee;
    margin-top: 50px;
}